<section>
    <div class="container-fluid">
        <div class="row">
            <div class="dispimg col-md-12 p-0 m-0">
                <div class="content">
                    <h1 class="heading">Introducing Squaline Oil: 100% Natural and Pure</h1>
                    <i class="fa fa-circle"></i><a href="/category"> SHOP OUR COLLECTION</a>
                </div>
                <img src="../images/meral.webp" style="width:100%;height:40vw;">
            </div>
            <div class="dispimg col-md-12 m-0 p-0">
                <div class="content">
                    <h1 class="heading">MERAL: By India for the World</h1>
                    <i class="fa fa-circle"></i><a href=""> DISCOVER OUR STORY</a>
                </div>
                <img src="../images/meral2.jpg" style="width:100%;height:40vw;">
            </div>


            <div class="col-md-12 m-0 p-0" style="background-color: #a49270; height:45%;">
                <div class="section4 p-3">
                    <div class="content2 p-5">
                        <h1 class="heading">Clean, Conscious, Clinical Skincare</h1>
                        <i class="fa fa-circle"></i><a href="/ingredient" style="color:black;font-size:2vw"> EXPLORE OUR
                            ESSENTIALS</a>
                    </div>
                    <div class="mx-auto p-3" style="width:20rem;">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="inner">
                                        <button type="submit">View product</button>
                                        <img class="product-image" src="../images/serum2.jpg"
                                            style="height:400px;width:auto;object-fit:contain;border:5px solid black;">
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="inner">
                                        <button type="submit">View Product</button>
                                        <img class="product-image" src="../images/serum1.jpg"
                                            style="height:400px;width:auto;object-fit:contain;border:5px solid black;">
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                data-slide="prev">
                                <i class="fa-solid fa-caret-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                data-slide="next">
                                <i class="fa-sharp fa-solid fa-caret-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 m-0 p-0" style="background-color: #9e766c;">
                <div class="section4">
                    <div class="dispimg2 col-md-6">
                        <img src="../images/pic1.jpg" style="height:60%; width:40%;">
                        <img src="../images/pic 2.jpg" style="height:60%; width:40%;">
                    </div>
                    <div class="content2 col-md-6 my-auto">
                        <h1 class="heading">HYDRATE</h1>
                        <p>Get hydrated plump skin along with reduced fine lines and smooth and fine textured skin with
                            the essence of hyaluronic acid. Already naturally occuring in the body, hyaluronic acid
                            attracts and holds on to moisture in skin cells, which allows skin to feel more hydrated and
                            plump.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 m-0 p-0" style="background-color: #a49270; height:43%;">
                <div class="section4">
                    <div class="content2 col-md-6 p-5 my-auto">
                        <h1 class="heading">Our world of stories, self-care rituals and skincare secrets</h1>
                        <p>COMING SOON</p>
                    </div>
                    <div class="dispimg2 col-md-6 p-4">
                        <img src="../images/pic3.jpg" style="max-width:80%; height:auto">
                    </div>
                </div>
                <div class="section5 pt-5" style="background-color: #a49270;">
                    <div class="sub col-md-3 col-6">VEGAN</div>
                    <div class="sub col-md-3 col-6">CRUELTY FREE</div>
                    <div class="sub col-md-3 col-6">CLEAN</div>
                    <div class="sub col-md-3 col-6">PARABEN FREE</div>
                </div>
            </div>
        </div>
    </div>
</section>